<!DOCTYPE html>
<html>
    <head>
        <title>[[++site.name]] - [[*pagetitle:is=`5`?var=var1]]</title>
        <meta charset="[[++site.default_charset]]">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>THIS IS <strike>SPARTA</strike> DEFAULT TEMPLATE OF xMOD CMS</h3>
        Need to clean it, after base develop
        <hr /><br />
        [[$chunk]]
        <div>[[++site.name]] DEFAULT TEMPLATE (<a href="[[++server.url_scheme]][[++_SERVER.HTTP_HOST]]">[[++_SERVER.HTTP_HOST]]</a>)</div>
        
        <footer>
            [[^foo]]
        </footer>
    </body>
</html>
